{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevConnect{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to DevConnect</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/feed/">Feed</a></li>
                <li><a href="/create-post/">Create Post</a></li>
                <li><a href="/accounts/login/">Login</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
        {% if messages %}
        <div class="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
  </div>
{% endif %}
    </main>

    <footer>
        <p>&copy; 2024 DevConnect</p>
    </footer>
</body>
</html>